<h1>Perfil {{usuarioDTO.fullName}}</h1>
<p>Nombre: <strong>{{usuario.nombre}}</strong></p>
<p>Apellido: <strong>{{usuario.apellido}}</strong></p>
<p>Edad: <strong>{{usuario.edad}}</strong></p>
<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>
<p>Rol: <strong>{{rol.descrip}}</strong></p>
<hr>

<div id="mensaje"></div>

<h1>Bienvenido A Mi Tienda</h1>
<hr>

<br>
<br>
<br>
<br>
<button onclick="window.location.href='/productos'">Productos</button>
<button onclick="window.location.href='/vistaMail'">Enviar Mail</button>
<button onclick="window.location.href='/chat'">Chat</button>
<br>
<br>
<br>